ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #4286f4;
}

li {
	float: center;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: Verdana;
	font-size: 10 em;
	font-weight: bold;
	height: 100 px;
}

img {
	display: block;
	margin: auto;
	width: 20%;
}

h2 {
	font-weight: bold;
}

h3 {
	font-weight: bold;
}